[user]
	name = XXXX
	email = XXXX@googlemail.com
[core]
	autocrlf = true
	editor = C:/Program\\ Files/Notepad++/notepad++.exe -multiInst -notabbar -nosession -noPlugin
[url "https://"]
	insteadOf = git://
[mergetool]
    prompt = false
    keepBackup = false
    keepTemporaries = false
[merge]
    tool = winmerge
[mergetool "winmerge"]
    name = WinMerge
    trustExitCode = true
    cmd = "/c/Program\\ Files/WinMerge/WinMergeU.exe" -u -e -wl -wr $LOCAL $BASE $REMOTE -o $MERGED
[diff]
    tool = winmerge
[difftool "winmerge"]
    name = WinMerge
    trustExitCode = true
    cmd = "/c/Program\\ Files/WinMerge/WinMergeU.exe" -u -e $LOCAL $REMOTE
[alias]
	gl = log --oneline --graph --branches --all 	# graphic log
	gls = log --oneline --graph 					# graphic log simple
	scf = show --pretty="" --name-only HEAD			# show changed files (Dateien anzeigen die im aktuellen Commit (HEAD) geändert wurden)
[remote "origin"]
	prune = true
[credential]
	helper = wincred
